{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">
        <nav id="sidenav" class="text-center">

            <div id="dismiss" class="d-block d-md-none">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidenav-header">
                <h2 class="title">Admin options</h2>
            </div>
            {% include 'store_admin/includes/sidenav.html' %}
        </nav>

        <div id="admin-content">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="col-12 col-md-2 order-md-1">
                        <button type="button" id="sidenavCollapse" class="btn btn-clear">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidenav</span>
                        </button>
                    </div>
                    <div class="col-12 text-center order-first col-md-8 order-md-2">
                        <h1 class="text-dark">Edit a Product</h1>
                    </div>
                    <div class="col-md-2 order-md-3"></div>
                </div>
            </nav> 
            <div class="row w-100 text-black">
                <div class="col-12 ">
                    <form method="POST" action="{% url 'edit_product' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.name | as_crispy_field }}
                        {{ form.sku | as_crispy_field }}
                        {{ form.category | as_crispy_field }}
                        {{ form.subcat | as_crispy_field }}
                        {{ form.article_type | as_crispy_field }}
                        {{ form.gender | as_crispy_field }}
                        {{ form.colour | as_crispy_field }}
                        {{ form.season | as_crispy_field }}
                        {{ form.year | as_crispy_field }}
                        {{ form.usage | as_crispy_field }}
                        {{ form.price | as_crispy_field }}
                        {{ form.image | as_crispy_field}}
                        <div class="row">
                            <div class="col text-center">
                                <a href="{% url 'product_list' %}" class="btn btn-clear">Cancel</a>
                                <button type="submit" class="btn btn-pink">Confirm Edit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#sidenavCollapse').on('click', function () {
                $('#sidenav, #admin-content').toggleClass('active');
            });
    </script>
{% endblock %}