{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">
        <nav id="sidenav">
            <div>
                <h3>Admin options</h3>
            </div>

            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'stock' %}">Stock Management</a>
                </li>
                <li>
                    <a href="#" class="text-center text-decoration-none" id="product-managment" data-bs-toggle="dropdown" aria-haspopup="true">
                        <p>Product Management</p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="product-management">
                        <li class="dropdown-item"><a href="{% url 'add_product' %}"> Add Product</a></li>
                        <li class="dropdown-item"><a href="">Register</a></li>
                        <li class="dropdown-item"><a href="{% url 'product_list' %}">Product List</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="admin-content container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="text-dark text-center">Store Overview</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <canvas id="myChart" class="bg-light p-3" width="300" height="200"></canvas>
                </div>
                <div class="col-1 col-md-6 text-black reorder-products">
                    <table class="table table-small bg-light p-3">
                        <h3>Products to Re-order</h3>
                        <thead>
                            <th>Product</th>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                {% if product.in_stock == 0 %}
                                    <td class="small">{{ product.name }}</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            var endpoint = 'api/chart/data/'
            var defaultData = []
            var labels = []
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function(data){
                    labels = data.labels
                    defaultData = data.orders
                    setChart()
                },
                error: function(error_data){
                    console.log("error")
                    console.log(error_data)
                }
            })

            function setChart(){
                var ctx = document.getElementById('myChart').getContext('2d'); 
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '# Orders by date',
                            data: defaultData,
                            backgroundColor: 'rgba(238, 14, 201, 1)',
                            borderColor: 'rgba(14, 17, 17, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        })
    </script>
{% endblock %}



