{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">
        <div class="col">
            <h2 class="text-dark text-center">Admin</h2>
        </div>
        <nav id="sidenav">
            <div>
                <h3>Admin options</h3>
            </div>

            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'stock' %}">Stock Management</a>
                </li>
                <li>
                    <a href="#" class="text-center text-decoration-none" id="product-managment" data-bs-toggle="dropdown" aria-haspopup="true">
                        <p>Product Management</p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="product-management">
                        <li class="dropdown-item"><a href="{% url 'add_product' %}"> Add Product</a></li>
                        <li class="dropdown-item"><a href="">Register</a></li>
                        <li class="dropdown-item"><a href="{% url 'product_list' %}">Product List</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="admin-content container-fluid">
            <div class="row">
                <div class="col text-black">
                    {% for result in results %}
                        <p>{{ result.date }} - {{ result.orders }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
