{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="products-overlay"></div>
     <div class="container">
        <div class="row text-dark text-center">
            <div class="col mt-2">
                <h1>Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <!-- Up to Medium Size displays -->
                    <div class="d-block d-md-none text-black">
                        <div class="row">
                            <div class="col-10 offset-1">
                                <p><strong>Cart Total: </strong>£{{ total|floatformat:2 }}</p>
                                <p>Delivery: £{{ delivery|floatformat:2 }}</p>
                                <p class="fs-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <a href="{% url 'products' %}" class="btn btn-clear">
                                    <i class="fas fa-backward"></i>
                                    <span>Keep Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-pink">
                                    <span class="fw-bold"> Secure Checkout</span>
                                </a>
                                <p class="text-center mt-2">A Summary of your cart is below</p>
                            </div>
                        </div>
                        {% for item in cart_items %}
                        <div class="row">
                            <div class="col-10 offset-1">
                                {% if item.product.image %}
                                    <a href="{{ item.product.image.url }}" target="_blank">
                                        <img src="{{ item.product.image.url }} " class="card-img-top" alt="{{ item.product.name }}">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ item.product.name }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-10 offset-1">
                                <p class="lead fw-bold">{{ item.product.name }}</p>
                                {% if item.size %}
                                    <p>Size: {{ item.size }}</p>
                                {% endif %}
                                <p>In Stock: {{ item.product.in_stock }}</p>
                            </div>
                            <div class="col-10 offset-1">
                                <p>Item Price: £{{ item.product.price }}</p>
                            </div>
                            <div class="col-10 offset-1">
                                <p>Subtotal: £{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                            <div class="col-10 offset-1">
                                {% include 'cart/includes/cart_qty.html' %}
                            </div>
                        </div>
                        <div class="row"><div class="col"><hr></div></div>
                        {% endfor %}
                    </div>

                    <!-- Medium size displays and up  -->
                    <div class="table-responsive d-none d-md-block">
                        <table class="table text-black">
                            <thead>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </thead>
                            <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="cart-img">
                                        {% if item.product.image %}
                                            <a href="{{ item.product.image.url }}" target="_blank">
                                                <img src="{{ item.product.image.url }} " class="card-img-top" alt="{{ item.product.name }}">
                                            </a>
                                        {% else %}
                                            <a href="">
                                                <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ item.product.name }}">
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p class="lead fw-bold">{{ item.product.name }}</p>
                                        {% if item.size %}
                                            <p>Size: {{ item.size }}</p>
                                        {% endif %}
                                        <p>In Stock: {{ item.product.in_stock }}</p>
                                    </td>
                                    <td>
                                        <p>£{{ item.product.price }}</p>
                                    </td>
                                    <td>
                                        {% include 'cart/includes/cart_qty.html' %}
                                    </td>
                                    <td>
                                        <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td colspan="5" class="text-end">
                                        <p><strong>Cart Total: </strong>£{{ total|floatformat:2 }}</p>
                                        <p>Delivery: £{{ delivery|floatformat:2 }}</p>
                                        <p class="fs-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">
                                        <a href="{% url 'products' %}" class="btn btn-clear">
                                            <i class="fas fa-backward"></i>
                                            <span>Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-pink">
                                            <span class="fw-bold"> Secure Checkout</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                <div class="row text-center">
                    <p class="text-dark">Nothing in your cart right now!</p>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="{% url 'products' %}" class="btn btn-clear">
                            <i class="fas fa-backward"></i>
                            <span>Go Shopping!</span>
                        </a>
                    </div>
                </div>
                    
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    $('.update-button').click(function(e) {
        var form = $(this).prev('.item-update');
        form.submit();
    })

    $('.remove-button').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}