{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="products-overlay"></div>
     <div class="container">
        <div class="row text-dark text-center">
            <div class="col mt-2">
                <h1>Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if cart_items %}
                    
                    <table class="table text-black">
                        <div class="table-responsive"></div>
                            <thead>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </thead>
                            <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td class="w-25">
                                        <img class="img-fluid" src="{{ item.product.image.url }}" alt="">
                                    </td>
                                    <td>
                                        <p class="lead fw-bold">{{ item.product.name }}</p>
                                        {% if item.size %}
                                            <p>Size: {{ item.size }}</p>
                                        {% endif %}
                                        <p>In Stock: {{ item.product.in_stock }}</p>
                                    </td>
                                    <td>
                                        <p>£{{ item.product.price }}</p>
                                    </td>
                                    <td>
                                        <form class="form item-update" method="POST" action="{% url 'update_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <button class="decrease-qty btn btn-pink-pre" data-item_id="{{ item.item_id }}"
                                                        id="decrease-qty_{{ item.item_id }}">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <input name="quantity" type="number" class="form-control qty-input" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <button class="increase-qty btn btn-pink-apres" data-item_id="{{ item.item_id }}"
                                                        id="increase-qty_{{ item.item_id }}">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    {% if item.size %}
                                                        <input type="hidden" name="size" value="{{ item.size }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="text-dark update-button"><small>Update</small></a>
                                        <a class="text-danger remove-button float-end" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                                    </td>
                                    <td>
                                        <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td colspan="5" class="text-end">
                                        <p><strong>Total: </strong>£{{ total|floatformat:2 }}</p>
                                        <p>Delivery: £{{ delivery|floatformat:2 }}</p>
                                        <p>Grand Total: £{{ grand_total|floatformat:2 }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">
                                        <a href="{% url 'products' %}" class="btn btn-clear">
                                            <i class="fas fa-backward"></i>
                                            <span>Keep Shopping</span>
                                        </a>
                                        <a href="{% url 'checkout' %}" class="btn btn-pink">
                                            <span class="fw-bold"> Secure Checkout</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        
                        </div>
                    </table>
                {% else %}
                    <p class="text-dark">Nothing in your cart</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    $('.update-button').click(function(e) {
        var form = $(this).prev('.item-update');
        form.submit();
    })

    $('.remove-button').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}