{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="container-fluid text-black">
        <div class="row">
            <div class="col text-center">
                <h1>Email us with any questions!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <form method="POST" action="" name="email-form" class="text-dark">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Send">
            </form>
        </div>
    </div>
{% endblock %}