{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row"></div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100 home-logo ">
            <div class="col h-100 d-flex justify-content-center">
                <h1 class="align-self-center text-center">Stéph's Closet</h1>
            </div>
            <div class="col h-100 d-flex justify-content-center">
                <h3 class="align-self-center text-center"><em>Stéph's Closet</em></h3>
            </div>
        </div>
    </div>
{% endblock %}