{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-dark text-center">
                <h2>Welcome {{ user.username }}! This is your profile.</h2>
            </div>
        </div>
    </div>
     
{% endblock %}