{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-dark text-center">
                <h2>Welcome {{ user.username }}! This is your profile.</h2>
            </div>
        </div>
    </div>
    <div class="row text-dark">
        <div class="col">
            <p>Default Del Info</p> 
            <form action="{% url 'user_account' %}" method="POST" id="delivery-info-update">
                {% csrf_token %}
                {{ form|crispy }}
                <button>Update Delivery Info</button>
            </form>
        </div>
        <div class="col">
            <p>Order History</p>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Products</th>
                            <th>Order total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a> 
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitem_all %}
                                        <li class="small">
                                            {{ item.product.name }} x {{ item.quantity }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
     
{% endblock %}