{% extends "base.html" %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="products-overlay"></div>
     <div class="container">
        <div class="row text-dark text-center">
            <div class="col">
                <h2>Success!</h2>
                <p>Order info below!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

