html {
    height: 100%;
}

body {
    font-family: "Josefin Slab", Arial, sans-serif;
    height: calc(100vh - 128px);
    background: url('/media/homepage_stephs_filler.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hind Siliguri", Arial, sans-serif;
}

.home-logo {
    position: relative;
}

.home-logo>div {
    position: absolute;
}

.home-logo:first-child h1 {
    font-size: 12rem;
    font-weight: 900;
    font-family: Staatliches, Arial, sans-serif;
}

.home-logo:last-child h3 {
    font-size: 5rem;
    color: #ee0ec9;
    font-family: Sacramento, Arial, sans-serif;
    letter-spacing: 0.7rem;
}

.overlay, .products-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.products-overlay {
    background-color: rgba(255,255, 255, 0.7);
}

