html {
    height: 100%;
}

body {
    font-family: "Josefin Slab", Arial, sans-serif;
    height: calc(100vh - 100px);
    background: url('/media/homepage_stephs_filler.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hind Siliguri", Arial, sans-serif;
}

#main-nav {
    height: 100px;
}

.home-logo h1 {
    font-size: 6rem;
}

.home-logo-overlay h1 {
    z-index: 999;
    color: pink;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
}
