:root {
    --main: #fffff0;
    --pink: #ee0ec9;
}

html {
    height: 100%;
}

body {
    font-family: "Josefin Slab", Arial, sans-serif;
    height: calc(100vh - 158px);
    background: url('/media/homepage_stephs.jpg') no-repeat center center fixed;
    background-size: cover;
    color: var(--main);
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Hind Siliguri", Arial, sans-serif;
}

#main-nav {
    max-height: 100px;
}

.header-logo {
    font-family: Sacramento, Arial, sans-serif;
    font-size: 4.5vw;
}

.text-main {
    color: var(--pink) !important;
}

.home-logo {
    position: relative;
}

.home-logo>div {
    position: absolute;
}

.home-logo:first-child h1 {
    font-size: 23vmin;
    font-weight: 900;
    font-family: Staatliches, Arial, sans-serif;
}

.home-logo:last-child h3 {
    font-size: 12vmin;
    color: var(--pink);
    font-family: Sacramento, Arial, sans-serif;
    letter-spacing: 0.7rem;
}

.mobile-home {
    font-family: Sacramento, Arial, sans-serif;
    font-size: 2rem;
}

.overlay, .products-overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.products-overlay {
    background-color: rgba(255,255, 255, 0.7);
}

.btn-rtn{
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
}

.btt-link {
    background-color: var(--pink);
    color: var(--main);
}

.update-button, .remove-button {
    cursor: pointer;
}

/* -------------------------------Admin Page */

.wrapper {
    display: flex;
    width: 100%;
}

#sidenav {
    width: 250px;
    position: fixed;
    height: calc(100vh - 158px);
    background-color: var(--pink);
}

.admin-content {
    width: calc(100% - 250px);
    position: fixed;
    right: 0;
}

/* ------------------------------- Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    font-size: 2rem;
}

/* When mobile size */
@media (max-width: 991px) {
    .header-container {
        padding-top: 84px;
    }
}

/* header container to push down main body on desktop and up */
@media (min-width: 992px) {
    .header-container {
        padding-top: 158px;
    }
}