<nav class="footer-nav navbar sticky-bottom">
    <div class="container-fluid">
        <div class="col">
            <ul class="list-inline list-unstyled d-flex justify-content-center social-links">
                <li class="list-inline-item mx-2">
                    <a class="text-pink" href="https://www.facebook.com/matt.m.baum/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="text-pink" href="https://www.instagram.com/saeaweaver/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item mx-2">
                    <a class="text-pink" href="{% url 'email' %}"><i class="fas fa-envelope-open-text"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

