<div class="collapse navbar-collapse" id="items-navbar">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2 mt-3 d-md-none">
            <a class="text-decoration-none text-main mobile-home" href="{% url 'home' %}">Stéphs Closet</a>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" id="products-drop" data-bs-toggle="dropdown"
                aria-current="page" href="#">All Products</a>
            <ul class="dropdown-menu" aria-labelledby="products-drop">
                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">By Name</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" id="shoes-drop" data-bs-toggle="dropdown" aria-current="page"
                href="#">Shoes</a>
            <ul class="dropdown-menu" aria-labelledby="shoes-drop">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=footwear">All Shoes</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=footwear">Heels</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" href="#" id="accessories-drop" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Accessories
            </a>
            <ul class="dropdown-menu" aria-labelledby="accessories-drop">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">All Accessories</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" href="#" id="personal-drop" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Personal Care
            </a>
            <ul class="dropdown-menu" aria-labelledby="personal-drop">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=personal_care">All Personal Care</a></li>
            </ul>
        </li>
    </ul>
</div>