<div class="collapse navbar-collapse" id="items-navbar">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" id="products-drop" data-bs-toggle="dropdown"
                aria-current="page" href="#">All Products</a>
            <ul class="dropdown-menu" aria-labelledby="products-drop">
                <li><a class="dropdown-item fw-bold" href="{% url 'products' %}">All Products</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=name&direction=asc">By Name</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" id="shoes-drop" data-bs-toggle="dropdown" aria-current="page"
                href="#">Shoes</a>
            <ul class="dropdown-menu" aria-labelledby="shoes-drop">
                <li><a class="dropdown-item fw-bold" href="{% url 'products' %}?category=footwear">All Shoes</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?article=Heels">Heels</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?article=Casual Shoes,Flats"> Casual and Flats</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" href="#" id="accessories-drop" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Accessories
            </a>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="accessories-drop">
                <li><a class="dropdown-item fw-bold" href="{% url 'products' %}?category=accessories">All Accessories</a></li>
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-item" tabindex="-1">Bags</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a class="text-black text-decoration-none" tabindex="-1" href="{% url 'products' %}?article=Handbags">Handbags</a></li>
                        <li class="dropdown-item"><a class="text-black text-decoration-none" tabindex="-1" href="{% url 'products' %}?article=Backpacks">Backpacks</a></li>
                        <li class="dropdown-item"><a class="text-black text-decoration-none" tabindex="-1" href="{% url 'products' %}?article=Rucksacks">Rucksacks</a></li>
                    </ul>
                </li>
                <li><a class="dropdown-item" href="{% url 'products' %}?article=Socks">Socks</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?article=Sunglasses">Sunglasses</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?article=Watches">Watches</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown mx-2">
            <a class="nav-link text-main fw-bold text-uppercase" href="#" id="personal-drop" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Personal Care
            </a>
            <ul class="dropdown-menu" aria-labelledby="personal-drop">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=personal_care">All Personal Care</a></li>
            </ul>
        </li>
        {% if request.user.is_superuser %}
            <li><hr class="dropdown-divider d-md-none text-main"></li>
            <li class="nav-item mx-2 d-md-none">
                <a class="nav-link text-main fw-bold text-uppercase" href="{% url 'store_admin' %}"><i class="fas fa-user-shield"></i> Store Managment</a>
            </li>
        {% endif %}
    </ul>
</div>