{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">
        <nav id="sidenav" class="text-center">
            <div class="sidenav-header">
                <h3 class="title">Admin options</h3>
            </div>

            <ul class="list-unstyled">
                <li> 
                    <a href="{% url 'store_admin' %}">Store Overview</a>
                </li>
                <li>
                    <a href="#" class="text-center text-decoration-none" id="product-managment" data-bs-toggle="dropdown" aria-haspopup="true">
                        <p>Product Management</p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="product-management">
                        <li class="dropdown-item"><a href="{% url 'add_product' %}"> Add Product</a></li>
                        <li class="dropdown-item"><a href="{% url 'product_list' %}">Product List</a></li>
                    </ul>
                </li>
                <li> 
                    <a href="{% url 'stock' %}">Stock Management</a>
                </li>
            </ul>
        </nav>
        <div class="admin-content container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="text-dark text-center">Issue Stock</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 text-dark">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form | crispy}}
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
