{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">       
        <nav id="sidenav">
            <div>
                <h3>Admin options</h3>
            </div>

            <ul class="list-unstyled">
                <li>
                    <span>Stock</span>
                </li>
                <li>
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Filter">
                    </form>
                </li>
            </ul>
        </nav>
        <div class="admin-content container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="text-dark text-center">Stock</h2>
                    <p class="text-dark">{{ stock }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 text-dark">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Sub Category</th>
                                <th scope="col">Qty In Stock</th>
                                <th scope="col">Update Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in stock %}
                                <tr>
                                    <td>{{ item.product }}</td>
                                    <td>{{ item.product.category }}</td>
                                    <td>{{ item.product.subcat }}</td>
                                    <td>
                                        <a href="{% url 'update_stock' item.product.id %}">{{ item.in_stock }}</a> 
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
