{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">       
        <nav id="sidenav">
            <div>
                <h3>Admin options</h3>
            </div>

            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'stock' %}">Stock Management</a>
                </li>
                <li>
                    <a href="#" class="text-center text-decoration-none" id="product-managment" data-bs-toggle="dropdown" aria-haspopup="true">
                        <p>Product Management</p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="product-management">
                        <li class="dropdown-item"><a href="{% url 'add_product' %}"> Add Product</a></li>
                        <li class="dropdown-item"><a href="">Register</a></li>
                        <li class="dropdown-item"><a href="{% url 'product_list' %}">Product List</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="admin-content container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="text-dark text-center">Update Stock</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 text-dark">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Qty In Stock</th>
                                <th scope="col">Update Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.in_stock }}</td>
                                </tr>
                                <tr>
                                    <a href="{% url 'issue_stock' item.product.id %}" class="btn btn-pink">Issue Stock</a>
                                    <a href="{% url 'receive_stock' item.product.id %}" class="btn btn-pink">Receive Stock</a>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
