{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-overlay"></div>
    <div class="wrapper">
        <nav id="sidenav" class="text-center">

            <div id="dismiss" class="d-block d-md-none">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidenav-header">
                <h2 class="title">Admin options</h2>
            </div>

            {% include 'store_admin/includes/sidenav.html' %}
        </nav>
        
        <div id="admin-content">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="col-12 col-md-2 order-md-1">
                        <button type="button" id="sidenavCollapse" class="btn btn-clear">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidenav</span>
                        </button>
                    </div>
                    <div class="col-12 text-center order-first col-md-8 order-md-2">
                        <h1 class="text-dark">Store Overview</h1>
                    </div>
                    <div class="col-md-2 order-md-3"></div>
                </div>
            </nav> 
            <div class="row mx-2">
                <div class="col-10 offset-1 col-md-6 offset-md-3">
                    <table class="table table-sm table-striped text-black bg-light">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Qty In Stock</th>
                                <th scope="col">Update Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.in_stock }}</td>
                                    <td>
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form | crispy}}
                                        </form>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                    <a href="#" class="btn btn-pink issues-button">Issue Stock</a>
                    <a href="#" class="btn btn-pink recepit-button">Receive Stock</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
