<div class="toast" data-autohide="false">
    <div class="toast-header bg-dark text-white">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-dark">
        <div class="row">
            <div class="col">
                {{ message }}
            </div>
        </div>
        {% if grand_total %}
            <p>{{ product_count }}</p>
        {% endif %}
    </div>
</div>